% This is a configuration file of rebar3, so that erlang-serial can better
% integrate in the current OTP ecosystem, despite its C-based native build based
% on GNU make.



% We try to stick close to the latest stable OTP version:
{minimum_otp_vsn, "25.0"}.


% Settings for the 'default' profile follow.


% No dependency (except Erlang of course):
{deps, []}.


{erl_opts, [ {d,erlang_serial_debug_mode}, debug_info, report_warnings, warn_export_all, warn_export_vars, warn_shadow_vars, warn_obsolete_guards, warn_unused_import, warnings_as_errors, {i,".."}, {i,"ebin"} ]}.



{pre_hooks,  [ {compile, "make -s all"} ]}.


{post_hooks, [ {compile, "make -s all"} ]}.



% For release generation:
%
% (defaults are for the development mode)
%
% With relx, only direct dependencies need to be listed, and version constraints
% can be used, instead of exact, specific versions.
%
{relx, [

  {release, {erlang_serial_release, "1.0.0"},
			[sasl]},

  %{sys_config, "./config/sys.config"},
  %{vm_args, "./config/vm.args"},

  % Base, development version:
  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true},
  {include_src, false}

]}.


{profiles, [

  % Production mode (the default one when used as a dependency):
  {prod, [

	% Like for the default profile, except for removed {d,myriad_debug_mode} and
	% added {d,exec_target_is_production}:
	%
	{erl_opts, [ {d,exec_target_is_production}, debug_info, {debug_info_key,"Ceylan-Myriad"}, report_warnings, warn_export_all, warn_export_vars, warn_shadow_vars, warn_obsolete_guards, warn_unused_import, warnings_as_errors, {parse_transform,myriad_parse_transform}, {i,"include/apps/generate-password"}, {i,"include/apps/merge-tool"}, {i,"include/data-management"}, {i,"include/maths"}, {i,"include/meta"}, {i,"include/scripts"}, {i,"include/user-interface/graphical"}, {i,"include/user-interface/textual"}, {i,"include/user-interface/audio"}, {i,"include/user-interface"}, {i,"include/utils"}, {i,".."}, {i,"ebin"} ]},

	% For the build makefiles:
	{env, [ { 'REBAR_PROFILE', "prod" } ] },

	{relx, [

	  % Not wanting the release to contain symlinks to applications:
	  {dev_mode, false},

	  % Creating a full target system:
	  {include_erts, true},

	  {extended_start_script, true},
	  {include_src, false}

	]} ] },


  {test, [

	% Test profile, like the production one except for the three, final,
	% token-related defines:
	%
	% No need to select here a JSON backend (i.e. neither use_jsx_json_backend
	% nor use_jiffy_json_backend is useful), as their look-up is now done at
	% runtime.
	%
	{erl_opts, [ {d,exec_target_is_production}, debug_info, {debug_info_key,"Ceylan-Myriad"}, report_warnings, warn_export_all, warn_export_vars, warn_shadow_vars, warn_obsolete_guards, warn_unused_import, warnings_as_errors, {parse_transform,myriad_parse_transform}, {i,"include/apps/generate-password"}, {i,"include/apps/merge-tool"}, {i,"include/data-management"}, {i,"include/maths"}, {i,"include/meta"}, {i,"include/scripts"}, {i,"include/user-interface/graphical"}, {i,"include/user-interface/textual"}, {i,"include/user-interface/audio"}, {i,"include/user-interface"}, {i,"include/utils"}, {i,".."}, {i,"ebin"}, {d,my_first_test_token}, {d,my_second_test_token,200}, {d,my_third_test_token,some_text} ]}

  ]}

]}.


% For Hex packages (see https://hex.pm/):
%
% (use 'rebar3 update' to enable the hex plugin)
%
{plugins, [rebar3_hex]}.